body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estado {
    font-weight: bold;
    margin: 5px 0;
    color: #007bff;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.botones button {
    flex: 1;
}


.editar-btn {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.borrar-btn {
    background-color: #ff4444;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    border: none;
}

.borrar-btn:hover {
    background-color: #cc0000;
}

.estado-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.estado-btn:hover {
    background-color: #0056b3;
}
